/* MovieItem */
.container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-bottom: 1px #ccc solid;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

img {
  width: 5.5rem;
  height: 7.6rem;
}

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.title {
  text-decoration: none;
}

.yearItem {
  font-weight: 100;
  font-size: 0.8rem;
}

/* MovieList */

.listContainer {
  margin: 20px;
}

.movieTitle {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.titleList > h1 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}

.titleList > h1::before {
  content: "";
  border-left: 5px yellow solid;
  padding-left: 0.75rem;
}

.containerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Sorted movie list */

.main {
  padding: 20px;
}

.main .sortedTitle {
  font-size: 2rem;
  padding-bottom: 20px;
}

.sortedContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

/*Responsive design MovieItemInner using React-Responsive*/
/*mobileversion*/
.bossMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1rem;
}

.heroTitleMobile {
  font-size: 0.8rem;
  color: white;
  margin-top: 2.5rem;
}

.underNameMobile {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.underNameMobile > p {
  color: white;
  font-size: 14px;
  line-height: 24px;
}

.imgAndDescriptionMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #d2d0d0;
  font-size: 1rem;
  line-height: 24px;
  padding: 1rem;
  gap: 2rem;
  width: 23rem;
}

.urlMobile {
  display: flex;
  justify-content: space-between;
  width: 23rem;
  height: 16rem;
}

.imgItemMobile {
  width: 8rem;
  height: 12rem;
}

.ratingMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.ratingMobile p {
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bolder;
}

/*tableversion*/
.bossTable {
  padding: 1.5rem 3rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1rem;
}

.heroSectionTable {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

.containerTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 2rem;
  gap: 1rem;
}

.underNameTable {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.underNameTable > p {
  color: white;
  font-size: 14px;
  line-height: 24px;
}

.urlTable {
  width: 45rem;
  height: 22rem;
}

.ratingTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.ratingTable p {
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bolder;
}

.descriptionMovieTable {
  margin: 1.8rem;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.blueTable,
.yellowTable {
  color: #ffffff;
}

.starRating {
  display: flex;
  align-items: self-end;
  gap: 10px;
}

.star {
  color: #ffd814;
}

.dolarRating {
  display: flex;
  align-items: self-end;
  display: inline-flex;
  gap: 10px;
}

.dolar {
  color: #ffd814;
}

.h3TopTen {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.crud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.viewButton {
  background: #4f9ce4;
  border-color: #4f9ce4;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #d5d9d980;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.editButton {
  background: #ffd814;
  border-color: #fcd200;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #d5d9d980;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.deleteButton {
  padding: 1px;
  background: #e04e4e;
  border-color: #e04e4e;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #d5d9d980;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  margin: 0 6px;
}

/*Responsive design MovieList*/
@media screen and (max-width: 1080px) {
  .itemList {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 768px) {
  .itemList {
    grid-template-columns: auto auto;
  }
  .crud {
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .itemList {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
